*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}
body{
    background: #fafafa;
}
main {
    height: 80vh;
    position: relative;
    margin: 0 auto;
}
footer{
    height: 10vh;
}
form{
    top: 90px;
    left: -100px;
    background-color: white;
    position: absolute;
    width: 350px;
    height: 410px;
    padding: 5px 5px 5px 5px;
    margin: -10vh 850px;
    margin-top: -30px;
    border: 1px solid gainsboro;
}

input{
    display: block;
    background-color: #fafafa;
    margin: auto;
    border: 1px solid gainsboro;
    width: 275px;
    height: 40px;
    padding: 10px 10px;
    border-radius: 4px;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
}
.subm{
    background-color: rgb(84, 160, 211);
    border: none;
    color:white;
    margin:auto;
    width: 270px;
    height: 33px;
    display: block;
    border-radius: 10px;
    padding: 10px 0;
    font-weight: bold;
    font-size: 13px;
}
.logo img{
    display: block;
	margin: 0 auto 35px;
    margin-top: 25px;
}
.slide{
    width: 350px;
    margin-left: 250px;
    margin-top: 25vh;
}
.slide .img1{
    width:380px;
    left: 430px;
    margin-top: -160px;
    margin-left: 90px;
}

.line{
    display: flex;
	justify-content: space-between;
	align-items: center;
    margin-top: -10px;
	height: 10px;
	margin: 15px 20px 20px;
}
.line1{
    width: 120px;
	height: 0.5px;
	background-color: #999;
}
.line2{
    width: 120px;
	height: 0.5px;
	background-color: #999;
}
.line p{
    color: #999;
	font-size: 12px;
}
.orF{
    text-align: center;
    margin-top: -20px;
}
.orF img{
    width: 17px;
}
.orF .logFace{
    color:rgb(10, 74, 116);
    font-size: 14px;
    font-weight: 550;
}
.forgetPWS{
    position: relative;
    margin-left: 130px;
    top: 20px;
    color:rgb(10, 74, 116);
    font-size: 11px;
}
.smallForm{
    background-color: white;
    position: absolute;
    padding: 10px 5px 20px 5px;
    margin: -10vh 850px;
    width: 350px;
    top: 560px;
    left: -100px;
    height: 60px;
}
.smallForm p{
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}
.smallForm a{
    color: rgb(84, 160, 211);
    font-weight: 600;
}
.imgApp img{
    position: relative;
    left: -55px;
    width: 140px;
    top: 15px;
}
.appd{
    position: absolute;
    left: 840px;
    top:550px;
    z-index: 10;
}
.appd p{
    font-size: 14px;
}




.footerCont{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}
footer ol{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px 0;
}
footer ol li{
    padding-right: 15px;
    font-size: 14px;
    color: #999b9e;
}
footer ol li a{
    text-decoration: none;
    color: #999b9e;
}
footer ol li a:hover{
    text-decoration: underline;
}
footer small {
    font-size: 11px;
    color: #999b9e;
    text-align: center;
}
