.logo h1 {
    font-size: 30px;
    margin: 0;
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
nav li {
    margin: 0 10px;
}
  
nav a {
    text-decoration: none;
    color: rgb(251, 251, 251);
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    font-size: 15px;
}
  
.button fancy-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff9800;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
  
.button fancy-button:hover {
    background-color: #f57c00;
}
  

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/