*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}
body{
    background: url("/Users/batyrbekasel/Desktop/Web Dev/Lab 3/ToDo app/pngegg.png") no-repeat;
    background-size: 80% ;
    background-position:100% -4% ;
}
header{
    background-color:  #e4af33;
    height: 7vh;
}
header p{
    color: rgb(5, 5, 5);
    font-size: 30px;
    padding-top: 13px;
    padding-left:70px ;
    font-family:fantasy;
}
.container{
    width: 54%;
    position: absolute;
    top: 25%;
    left: 170px;
    min-height: 150px;
}
.container p{
    font-size: 40px;
    padding-right: 500px;
    color:rgb(37, 36, 36);
    font-family:fantasy;
}

#newTask{
    position: relative;
    padding: 20px 20px;
}

#newTask input{
    width: 75%;
    height: 35px;
    font-size: 15px;
    border: 0.5px solid #e4af33;
    border-radius: 5px;
}
#newTask button{
    position: absolute;
    float: right;
    width: 80px;
    height: 35px;
    border-radius: 7px;
    margin-left: 25px;
    background-color: #e4af33;
    color: aliceblue;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}

#tasks{
    padding: 10px 20px;
    margin-top: 4px;
    border-radius: 3px;
    width: 635px;
    position: relative;
}

.task{
    margin-left: 20px;
    height: 45px;
    width:620px;
    border: 0.5px solid #e4af33;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    border-radius: 7px;
    background-color: #e4af33;
}

.task button{
    color: rgb(0, 0, 0);
    background-color:#e4af33;
    width: 40px;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
}

.bee{
    position: relative;
    width: 320px;
    top: 500px;
    transform: rotate(20deg);
}
