*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}
header{
    background-color: rgb(37, 36, 36);
    height: 7vh;
}
header p{
    color: gray;
    font-size: 25px;
    padding-top: 13px;
    padding-left:70px ;
}
form{
    margin-top: 80px;
    text-align: center;
}
form p{
   font-size: 45px;
   padding-right: 500px;
   color:rgb(37, 36, 36);
}
form input{
    margin-top: 19px;
    width: 550px;
    height: 35px;
    border-color:grey;
    border-radius: 5px;
    font-size: 18px;
}
form button{
    background-color: rgb(84, 160, 211);
    border: none;
    color:white;
    width: 70px;
    height: 35px;
    border-radius: 5px;
}
form button:hover{
    background-color:#bbb;
}
ul{
    text-align: center;
    margin-top: 50px;
}
ul li{
    display: block;
    list-style-type: circle;
    line-height: 50px;
    color: #626262;
    background: #f7f7f7;
}